<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="Dirigent"
   iconfile="icon.png"
   description="DIRIGENT Plugin"
   tooltip="This is Data Generator Integration Plugin for Kettle"
   category="General"
   classname="org.dirigent.pdi.job.dirigent.JobEntryDirigentPlugin">
   <libraries>
    	<library name="dirigent_1.0.jar"/>
    	<library name="lib/velocity-1.6.2-dep.jar"/>
    	<library name="lib/commons-lang-2.5.jar"/>    	
    </libraries>
    
   <localized_category>
     <category locale="en_US">General</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">DIRIGENT</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">This is Data Integration Generator Plugin (version 1)</tooltip>
   </localized_tooltip>
   
</plugin>
